* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-attachment: fixed;
  color: #666666;
  font-family: Verdana, Arial, sans-serif;
  margin:0;

}

#wrapper {
  display:grid;
  grid-auto-rows: minmax(0, auto);
  grid-template-columns:minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr) ;
}
header{
  grid-row:1 / 2;
  grid-column:2 / 8;
}

header {
  background-color: #003058;
  color: #FFFFFF;
  font-family: Georgia, serif;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
main img {
  float: right;
  padding-left: 2rem;
}
header h1 {
  line-height: 140%;
  padding: .5rem;
  margin: 0;
}


h1 {
  background-image: url(utahtechlogo.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
  padding-left: 1em;
  margin-bottom: 0;
}

nav {
  font-weight: bold;
  background-color: #424242;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  grid-row:2 / 3;
  grid-column:2 / -2;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
}
nav ul {
 padding: 0;
  display: flex;
  margin: 0;
  flex-flow: row nowrap;
  list-style-type: none;
}
nav ul li{
  width: 100%;
}
#homehero, #studenthero, #facultyhero {
  grid-row:3 / 4;
  grid-column:2 / -2;
}
main {
  grid-row:4 / 5;
  grid-column:2 / -2;
  background-color: #ffffff;
}
footer {
  grid-row:5 / 6;
  grid-column:2 / -2;
 
}
nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 0rem;
  display: block;
  text-align: center;
}
nav a:hover {
  background-color: #BA1C21;
}
main {
  padding-left: 2rem;
  padding-right: 2rem;
}

h2 {
  color: #424242;
  font-family: Georgia, serif;
}


h3 {
  color: #003058;
}

dt {
  color: #003058;
  font-weight: bold;
}

.ut {
  color: #BA1C21;
  font-weight: bold;
}

footer {
  font-size: .70rem;
  font-style: italic;
  text-align: center;
  padding: 1rem;
}


#homehero {
  height: 300px;
  background-image: url(homehero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#studenthero {
  height: 300px;
  background-image: url(studenthero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#facultyhero {
  height: 300px;
  background-image: url(facultyhero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
