
#wrapper {
    display: grid;
     grid-auto-rows: minmax(0, auto);
  grid-template-columns:minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr) ;
}
header{
background-color: aqua;
height: 100px;
grid-row: 1 / 2;
grid-column: 1 / -1;
}
nav{
background-color: brown;
height: 28px;
grid-row: 2 / 3;
grid-column: 1 / -1;
}
#hero{
background-color: blue;
height: 400px;
grid-row: 3 / 4;
grid-column: 1 / -1;
}
main{
    background-color: lightblue;
    height: 200px;
    grid-row: 4 / 5;
    grid-column: 2 / -2;
}
footer{
background-color: gray;
height: 28px;
grid-row: 5 / 6;
grid-column: 1 / -1;
}
